
table.mf-dynamic-table tr.mf-editable.ui-state-hover {
    cursor: auto !important;
    background-color: #e5f3ff;
}

table.mf-dynamic-table tr {
    cursor: auto !important;
    background-color: #fafafa;
}

table.details th, table.details td {
    border: 1px solid rgb(109, 109, 109) !important;
    padding: 5px 5px 5px 5px;
}

table.details tr:nth-child(even) {
    background-color: #eff5fa !important;
}

table.details th {
    background-color: #c9c9ce !important;
    color: rgb(88, 88, 88) !important;
}

table.details td {
    color: black !important;
}

    table.details td input {
        text-align: right !important;
        outline: none !important;
        border-color: transparent !important;
        background-color: transparent;
    }

.mf-dynamic-controlfield input {
    outline: none !important;
    border-color: transparent !important;
}

input[type="text"]:disabled {
    background: #fafafa;
}

input[type=checkbox] {
    transform: scale(0.5);
    padding: 0 0px 0 0;
    margin: 0 0 0 0;
    margin-top: 1px \9;
    line-height: 4;
    background-color: #d9534f !important;
    border-color: #d9534f !important;
}

.Balanced {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 25px;
    color: green;
    background: rgb(223, 248, 223);
    width: 85px;
    text-align: center;
}

.NotBalanced {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 25px;
    color: red;
    background: rgb(250, 215, 215);
    width: 85px;
    text-align: center;
}


/*
input.NotBalanced{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
		border-radius: 25px;
		border: 1px solid rgb(250, 215, 215);
		color: #9e0c0c;
		width: 85px;
		height: 30px;
		background: darkgreen;
		text-align: center;
		padding-right: 5px;
		margin-right: 5px;
	}

.rounded {
	border-radius: 30px;
	padding: 2px; 
	height: 17px;  
    text-align: center;
	color: white;
}
.rounded_green input{
	background: darkgreen;
	border: 2px solid darkgreen;
	width: 60px;
}

input.rounded_red{
	background: rgb(223, 9, 9);
	border: 2px solid red;
	width: 80px;
}

#rounded_green {
	border-radius: 30px;
	background: darkgreen;
	border: 2px solid darkgreen;
	padding: 2px; 
	width: 60px;
	height: 17px;  
    text-align: center;
	color: white;
}*/
