/* Style for metadata card. */

.page-container {
    margin: 0px;
}

label {
    font-family:Segoe UI, Tahoma, Arial, sans-serif; 
    color: #000000;
    display: block;
/*
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0 10px;
*/
}
.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    height: 800px;
}

.panel-left {
    flex: 0 0 auto; /* only manually resize */
    padding: 0px;
    min-height: 200px;
    width: 40%;
/* Used to be stubbed out, to not show splitter and right pane */
/*
    width: 100%;
*/
    min-width: 200px;
    white-space: nowrap;
}

.splitter {
    flex: 0 0 auto;
    width: 1px;
    border-left: 1px solid silver;
    min-height: 200px;
    cursor: col-resize;
}

.panel-right {
    flex: 1 1 auto; /* resizable */
    padding: 0px;
    width: 100%;
    min-height: 200px;
/*    min-width: 200px !important; /* NOTE: This won't be respected! Explicit size of left forces the size to be fixed */
    /*background: #eee;*/
}

table.details {
    border-collapse: collapse;
}

table.details th, table.details td {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}
#mf-preview-ctrl-container {
	min-height: 100%; 
	position: relative
}

#preview-ctrl {
	flex: 0 0 auto;
	position: relative; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%;
    min-height: 750px;
/*    min-width: 500px; */
}
